server:
  port: 8011 # 服务端口
spring:
  application:
    name: orderService
  datasource: #因为父项目中已经配置了mybatis，这里不配置就会报错
    url: jdbc:mysql://localhost:3306/spring001?useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    dynamic:
      primary: ds0
      strict: false
      datasource:
        ds0:
          url: jdbc:mysql://localhost:3306/spring001?useSSL=false
          username: root
          password: root
          driver-class-name: com.mysql.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848 # 一样的，docker会自动解析
        cluster-name: SH # 集群名称
        #      discovery:
        #        namespace: 4d6ce343-9e1b-44df-a90f-2cf2b6b3d177 # dev环境
        #        ephemeral: false # 是否是临时实例
#    openfeign:
#      httpclient:
#        max-connections: 200 # 最大连接数
#        max-connections-per-route: 50 # 单个路径的最大连接数
#        enabled: true # 支持HttpClient的开关
#========================================================
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:10086/eureka
#userservice:
#  ribbon:
#    NFLoadBalancerRuleClassName: com.alibaba.cloud.nacos.ribbon.NacosRule  # 负载均衡规则
#ribbon: # ribbon配置
#  eager-load: # 饥饿加载
#    enabled: true # 开启饥饿加载
#    clients: # 指定饥饿加载的服务名称
#      - userservice
#========================================================
